<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: '{{ pascalCase componentName }}',
  components: {},
  props: {}, 
  emits: [],
  setup() {
    return {};
  },
});
</script>

<template>
  <div>{{ pascalCase componentName }}</div>
</template>
